body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* ヘッダー*/
header {
    background-color: #dfbe02;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#header-content {
    display: flex;
    justify-content: space-between;
}

#hamburger-menu, #settings-icon {
    font-size: 24px;
    cursor: pointer;
}

#MiyaMaaS {
    margin: 0;
    font-size: 24px;
}

.hidden {
    display: none;
}

/* メニューコンテナ */
#menu-container {
    position: absolute;
    top: 100%;
    text-align: left;
    background-color: rgb(118, 114, 114);
    border: 3px solid hsl(0, 0%, 0%);
    border-radius: 5px;
    margin-left: 2%;
    padding: 10px;
    z-index: 1000;
}

#menu-list {
    list-style: none;
    padding: 0;
}

#menu-list li {
    margin-bottom: 10px;
}

/* main */
main {
    background-color:  #e6e2e2;
    padding: 20px;
    text-align: center;
}

/* フッター */
footer {
    background-color: rgb(29, 29, 29);
    text-align: right;
    padding: 1%;
}

a {
    color: white;
    text-decoration: none;
}



/* ---------ここから上は変更不可------------ */




#search-box {
    margin: 20px;
}

#route-options {
    margin: 10px 0;
}

/* 検索と出発地と到着地*/
#search-input {
    width: 60%;
}

#departure-input, #arrival-input {
    width: 80%;
}

#down-arrow {
    text-align: center;
}

/* 条件 */
#transport-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

.transport-option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    border: 3px solid hsl(0, 0%, 0%);
    width: calc(33.33% - 10px); /* 3つの要素を1行に */
    max-width: calc(50% - 5px); /* 2つの要素を1行に */
}

.icon-text {
    display: flex;
    flex-direction: column; /* アイコンとテキストを垂直に配置 */
    align-items: center;
}

.icon-text i {
    margin: 5px auto; /* アイコンとテキストの間隔を設定 */
}

.transport-option label {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.transport-option input[type="checkbox"] {
    display: none; /* チェックボックスを非表示にする */
}

#search-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #eee8aa; /* デフォルトの背景色 */
    color: black; /* デフォルトのテキスト色 */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* 背景色とテキスト色の変化をアニメーション化 */
}

#search-button:hover {
    background-color: #dcd79e; /* ホバー時の背景色 */
    color: black; /* ホバー時のテキスト色 */
}

/* google map */
#map {
    margin: 3%;
    height: 400px;
}

/* ラジオボタン */
#location-options input[type="radio"] {
    display: none; /* チェックボックスを非表示にする */
    text-align: center;
}


#location-options label[for="departure-radio"] {
    font-size: 16px;
    margin: 5%;
    padding: 5px;
    border: 3px solid rgb(231, 97, 97);
    background-color: white;
}

#location-options label[for="arrival-radio"] {
    font-size: 16px;
    margin: 5%;
    padding: 5px;
    border: 3px solid rgb(81, 81, 233);
    background-color: white;
}

/* 検索結果 */
#search-result-container {
    display: none; /* 初めは非表示にする */
    display: flex; /* 水平方向の配置を設定 */
    justify-content: center; /* 中央寄せを設定 */
    margin: 3%;
    border: 3px solid black;
}

.result-list {
    font-size: 18px;
    margin: 1%;
    background-color: white;
    border: 3px solid black;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* 背景色とテキスト色の変化をアニメーション化 */
}

.result-list:hover {
    background-color: #c2c2c2; /* ホバー時の背景色 */
}

#result-detail-entire {
    text-align: left;
    padding: 1%;
    background-color: rgb(201, 201, 201); /* デフォルトの背景色 */
}

#goto-lists-button {
    margin: 1%;
}

.result-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.time {
    width: 30%;
}

.point {
    width: 40%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.line {
    text-align: right;
    margin-top: 100px;
    width: 30%;
}

#guide-start-button {
    padding: 1%;
    font-size: 30px;
    margin: 1%;
    background-color: #eee8aa; /* デフォルトの背景色 */
    color: black; /* デフォルトのテキスト色 */
    border: 3px solid black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* 背景色とテキスト色の変化をアニメーション化 */
}

#guide-start-button:hover {
    background-color: #dcd79e; /* ホバー時の背景色 */
    color: black; /* ホバー時のテキスト色 */
}

#detail-button-area {
    background-color: rgb(201, 201, 201); /* デフォルトの背景色 */
    text-align: center;
}